*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #EDEDED;
   font-family: 'Kdam Thmor Pro', sans-serif;
   font-family: 'Source Sans Pro', sans-serif;
   font-family: 'Ubuntu', sans-serif;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dramkit{
   max-height: 100%;
   padding: 10px;
}

.pad{
   height: 40px;
   width: 400px;
   background-color: #fff;
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.pad-input{
   height: 40px;
   width: 400px;
   background-color: #fff;
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.pad2{
   height: 40px;
   width: 190px;
   background-color: #fff;
   border: 1px solid black;
   border-radius: 5px;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

.loop-cut_all{
   display: flex;
   justify-content: space-between;
}

.pad-cutted{
   border: 1px solid #399500;
}

.pad-button__play{
   margin-right: 5px;
}

.pad-button__play img{
   height: 25px;
   cursor: pointer;
}

.pad-buttons{
   display: flex;
   margin-left: auto;
}

.pad-button__cut{
   margin-right: 5px;
}


.pad-button__cut img{
   height: 25px;
   cursor: pointer;
}

.pad-name{
   flex: 1;
   text-align: center;
}

.loop-check{
   margin-bottom: 10px;
}

.demimer{
   height: 1px;
   background-color: black;
   margin-bottom: 10px;
   border-radius: 2px;
}

.cut-all{
   cursor: pointer;
}

.save-input_input-block input[type="text"]{
   height: 30px;
   width: 300px;
   border: none;
}